body {
    font-family: Arial;
    background: #f4f8f4;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.recommendation {
    margin-top: 30px;
    background: #e8ffe8;
    padding: 20px;
    border-radius: 10px;
}